[submodule "1st-semester/java/lab3"]
	path = 1st-semester/java/lab3
	url = https://github.com/cgsg-tt6itmo/s1-java-lab3
	branch = main
[submodule "1st-semester/diskra/Huffman"]
	path = 1st-semester/diskra/Huffman
	url = https://github.com/cgsg-tt6itmo/s1-diskra-Huffman
	branch = main
